.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
excel_files/*
static/*
!excel_files/.keep
!static/.keep
!excel_files/data.xlsx

!static/ab_plot.png
!static/result_2pm_cwsi.png
!static/result_2pm_fixed.png
!static/result_2pm_no_fix.png

!static/data.xlsx
!UNL_Name_blk_2023.jpg
.env