{% extends "base/base.html" %}

{% block content %}
<div class="row">
    <div class="column is-4 is-offset-4" style="height: 100%">
      <p>The Water Irrigation Scheduler for Efficiency (WISE) is a user-friendly tool developed to optimize irrigation scheduling, helping you maximize crop yields while minimizing excess water usage. Designed for farmers, consultants, and researchers, WISE accommodates various soil types, climates, and irrigation practices across much of the Western United States. This tool was originally developed by – (the Department of Civil and Environmental Engineering at Colorado State University, http://wise.colostate.edu/ )​</p>
      <p><strong>Key Features: </strong></p>
      <p>Customizable Crop Fields: Easily define your crop boundaries and create tailored fields specific to your needs.​</p>
      <p>Integrated Data Sources: Enhance your irrigation planning by incorporating: </p>
      <ul>
        <li>Weather Station Data: Access local, near real-time weather information. </li>
        <li>Soil Data: Retrieve soil properties from databases like the NRCS.</li>
        <li>Field Attributes: Input specific details about your crops and irrigation systems.</li>
      </ul>
      <p><strong>Results and Reporting: </strong></p>
      <p>After setting up your field, WISE generates a customized irrigation schedule that includes:</p>
      <ul>
        <li>Summary of Crop Irrigation Needs: Understand the specific water requirements for your crops. </li>
        <li>Detailed Scheduling: View tables and graphs illustrating optimal irrigation times and amounts. </li>
      </ul>
      <p>You can export these results as Excel files or images or print them directly from the interface for seamless integration into your records. With WISE, efficient irrigation scheduling is at your fingertips, enabling you to make informed decisions that benefit your crops and resource management. ​</p>
    </div>
    <div class="column is-4 is-offset-4 bluebox" style="height: 100%">
        <p>Field Radius: <span id="radius"></span></p>
        <p>Latitude: <span id="latitude"></span></p>
        <p>Longitude: <span id="longitude"></span></p>
       <br>
        

    </div>
  <div>
    <script>

      function getCookieByName(name) {
          const nameEQ = name + "=";
          const ca = document.cookie.split(';');
          for(let i=0; i < ca.length; i++) {
              let c = ca[i];
              while (c.charAt(0) == ' ') c = c.substring(1,c.length);
              if (c.indexOf(nameEQ) == 0) 
              return c.substring(nameEQ.length,c.length);
          }
          return null;
      }
      document.getElementById("radius").innerHTML = getCookieByName("radius");
      document.getElementById("latitude").innerHTML = getCookieByName("latitude");
      document.getElementById("longitude").innerHTML = getCookieByName("longitude");
  
  </script>
{% endblock %}