<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CWSI Calculation</title>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">

    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js"></script>


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" /> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles.css" />



</head>

<body>
    <section class="hero is-primary is-fullheight">
        <div class="hero-head">
          <img src="static/UNL_Name_blk_2023.jpg" style="width: 55vw; min-width: 330px; max-width: 200px; padding: 20px;" alt="University of Nerbaska-Lincoln">



          <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{{ url_for('index') }}"><strong>Irrigation Tool Hub</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item link" style="width: fit-content;">
                      <a class="nav-link" href="{{ url_for('upload') }}">CWSI<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item link" style="width: fit-content;">
                      <a class="nav-link" href="{{ url_for('wiseupload') }}">WISE</a>
                    </li>

                    <li class="nav-item link" style="width: fit-content;">
                      <a class="nav-link" href="{{ url_for('ETrupload') }}">ETr + Kc</a>
                    </li>
                    <!-- <li class="nav-item link" style="width: fit-content;">
                      <a class="nav-link" href="{{ url_for('Kc_upload') }}">Kc</a>
                    </li> -->

                    <li class="nav-item link" style="width: fit-content;">
                      <a class="nav-link" href="{{ url_for('merge_upload') }}">CWSI+WISE</a>
                    </li>
                    <li class="nav-item link" style="width: fit-content;">
                      <a class="nav-link" href="{{ url_for('both') }}">RSCWSI</a>
                    </li>
                    <li class="nav-item link" style="width: fit-content;">
                      <a class="nav-link" href="{{ url_for('both') }}">AquaCrop</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>

        <div class="hero-body" style="padding-bottom: 2em;">
            <div class="container-fluid has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
 
  
  <!-- <script>
    var activeNavItem = $('.nav-item');

    activeNavItem.click(function(){
      activeNavItem.removeClass('active');
      $(this).addClass('active');  
    });
  </script> -->
  <script>
    const currentLocation = window.location.pathname;
    const navLinks = document.querySelectorAll('.nav-link');
    navLinks.forEach(link => {
        // Check if the link's href matches the current page URL
        if (link.getAttribute('href') === currentLocation) {
            // Add the 'active' class to the matching link
            link.classList.add('active');
        }
    });
</script>  
</body>

</html>