<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    * {
      box-sizing: border-box;
    }

    .image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .image-container img {
      margin: 5px; /* Add some spacing between images */
      min-width: 200px;
      width: 100%;
      height: auto;
    }

    
  </style>

</head>

<body>
  {% extends "base/base.html" %}
  {% block content %}
    
  <div class="column is-9 is-offset-9">

    <h1 class="text-center"><b>Calculation Finished</b></h1>

      <div class="image-container" id="eachDepthContainer">
        <img src="{{ url_for('static', filename='ETreference.png') }}" class="center">
      </div>
  </div>
  {% endblock %}

  <style>
    div.container.has-text-centered {
      max-width: 100%;
    }
  </style>
</body>

</html>
