{% extends "base/base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
  <h1 class="title">A Home Page</h1>
  <div class="box">
     <p>
      ------------------------------- ------------------------- -------------------------------------------- ---------------------------------- ------------------------- ------------------------------------------------------ ------------------------------------------------ ---------------- -----------------------------------

      </p>
  </div>
</div>

{% endblock %}


