  {% extends "base/upload.html" %}
  {% block content %}
  <div class="row">
    <div class="column is-4 is-offset-4" style="height: 100%">
        <p><strong>Introduction</strong>: The Crop Water Stress Index (CWSI) is a valuable metric used to assess and quantify water stress in crops. It measures the difference between canopy temperature and air temperature, adjusted for environmental factors like vapor pressure deficit. This index aids in efficient irrigation scheduling and water management by providing a standardized method to monitor plant water status.​</p>
        <p><strong>About This Tool:</strong></p>
        <p><strong>Steps:</strong></p>
        <p><strong>1.</strong> Upload your data file.</p>
        <p><strong>2.</strong> Select the date range to calculate the CWSI ​</p>
        <p><strong>3.</strong> Select the daytime range to calculate the CWSI​</p>
    </div>

    <div class="column is-4 is-offset-4 bluebox">

      <h1><b>Upload Successful</b></h1>

      <form id="uploadForm" action="{{url_for('upload_success_2nd')}}" method="POST" class="needs-validation" novalidate> 

        <label for="title">Select treatment type</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="treatment" id="treatment1" value="SWB_40" checked/>
            <label class="form-check-label" for="treatment1">
                SWB_40
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="treatment" id="treatment2" value="SWB_65" />
            <label class="form-check-label" for="treatment2">
                SWB_65
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="treatment" id="treatment3" value="SWB_90" />
            <label class="form-check-label" for="treatment3">
                SWB_90
            </label>
        </div>

        <br>

        <label for="title">Insert the start DOY (min: 173)</label>
        <br>
        <input input type="number" name="start_DOY" id="start_DOY" value="{{start_DOY}}" class="form-control" min="173" max="266" required></input>
        <div class="invalid-feedback">
            Provide valid number
        </div>
        <br>

        <label for="title">Insert the end DOY (max: 266)</label>
        <br>
        <input input type="number" name="end_DOY" id="end_DOY" value="{{end_DOY}}" class="form-control"  min="173" max="266" required></input>
        <div class="invalid-feedback">
            Provide valid number
        </div>
        <br>

          <label for="title">Insert the start hour value (24-hour scale)</label>
          <br>
          <input input type="number" name="start_hour" id="start_hour" value="{{start_hour}}" class="form-control" min="1" max="24" required></input>
          <div class="invalid-feedback">
              Provide valid hour
          </div>
          <br>

          <label for="title">Insert the end hour value (24-hour scale)</label>
          <br>
          <input input type="number" name="end_hour" id="end_hour" value="{{end_hour}}" class="form-control" min="1" max="24" required></input>
          <div class="invalid-feedback">
              Provide valid hour
          </div>
          <br>

          <label for="title">Insert the select hour for CWSI value (24-hour scale)</label>
          <br>
          <input input type="number" name="select_hour" id="select_hour" value="{{select_hour}}" class="form-control" min="1" max="24" required></input>
          <div class="invalid-feedback">
              Provide valid hour
          </div>
          <br>
          <div class="formSubmit">
            <button id="sub" type='submit' class="btn btn-danger">
              Submit
            </button>
            <div id="loadingIndicator" class="loader hidden"></div>
          </div>
      </form>
    </div>
  <div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() == false) {
              event.preventDefault();
              event.stopPropagation();
            } else {
              let loadDiv = document.querySelector("#loadingIndicator");
              let btn = document.querySelector("#sub");
              loadDiv.classList.remove("hidden");
              btn.innerText = "Loading..."
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();

    </script>

{% endblock %}