body {
    background-color:rgb(254, 253, 250);
    background-position: center;
    background-size: cover;

    font-family: Work Sans,"Sans Serif Fallback",sans-serif;
    font-style: normal;
}

.hero-body {
    padding: 0em 1em;
}


h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    font-family: Work Sans,"Sans Serif Fallback",sans-serif;
    font-style: normal;}

.navbar {
    background-color: rgb(208, 0, 0);
   
    font-family: Work Sans,"Sans Serif Fallback",sans-serif;
    font-style: normal;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
   nav a { color: white !important; }

  nav a:after {
    font-weight: strong !important;
  }
    
  .nav-link.active {
    text-decoration: underline; /* Underline the active link */
    /* font-weight: bold; Optional: make the active link bold */
    }
  nav a:hover {text-decoration: underline !important}

  /* .navbar-nav a:after{
    content: "";
    position: relative;
    width: 0%;
    height: 1.5px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
  }

  .navbar-nav a:hover::after {
    width: 100%;
    height: 1.5px;
    background-color: #fff;
  } */



  .nav-list {
     list-style: none;
     padding: 0;
     margin: 0;
     display: flex;
    }
    /* .nav-item{
        margin-right: 8px;
    } */




p {
    font-family: Work Sans,"Sans Serif Fallback",sans-serif;
    font-style: normal;    font-size: 18px;
}

.smalltext {
    font-size: 16px;
}


div#content {
    background-color: rgb(206, 43, 43);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 2em;
}

div.card-table {
    overflow:scroll;
    max-height: 90vh;
}

div.hidden {
    display:none;
}

.hero-head {
    margin-bottom: 1.5em;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid rgb(208, 0, 0);;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    animation: spin 2s linear infinite;
    display: inline-block;
}  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .formSubmit {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em;
}

.wrapper > * {
    grid-column: col-start / span 6;
}

.row img {
    max-width: 100%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-items: center;
}



@media (max-width: 500px) {
    .row {
        grid-template-columns: 1fr;
    }

    h1, h2 {
        font-size: 1.3rem;
    }
}

* {
    box-sizing: border-box;
  }
  
  .bluebox {
    border: none !important;
    /* background-color: rgb(19, 106, 146);
     */
     background-color: #ebebea; 
  }
 
  .column {
    /* background-color: #ebebea; */
    border: 1px solid red;
    float: none;
    width: 100%;
    padding: 1.5em;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.btn {
    background-color:rgb(208, 0, 0);
    font-weight: bold;
    font-size: small;
}

.btn:hover {
    background-color: rgb(155, 18, 18);
    
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
  }
  